In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=pd.xls = pd.ExcelFile('/content/WASTINNOVA DATA.xlsx')

In [3]:
df1=pd.read_excel(data,"HOUSEHOLD")
df2=pd.read_excel(data,"COMMERCIAL")
df3=pd.read_excel(data,"OTHERS")

In [4]:
df1.head()

,family size,monthly income,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
0,7,50670,3,0,1,0
1,7,135806,1,1,1,1
2,1,123248,2,1,1,1
3,6,137221,3,1,1,1
4,6,170863,3,0,0,1

In [5]:
df1.corr()

,family size,monthly income,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
family size,1.000000,0.010875,-0.029602,0.008604,0.017460,0.007744
monthly income,0.010875,1.000000,0.009395,0.035308,-0.017874,0.020744
daily solid waste generation(in kg),-0.029602,0.009395,1.000000,-0.008902,0.003348,-0.021463
kitchen waste,0.008604,0.035308,-0.008902,1.000000,0.004515,0.018535
e-waste,0.017460,-0.017874,0.003348,0.004515,1.000000,0.000516
non-recyclable,0.007744,0.020744,-0.021463,0.018535,0.000516,1.000000

In [6]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler(feature_range =(0, 1))

In [7]:
df1.iloc[:, 1:2].values

array([[ 50670],
       [135806],
       [123248],
       ...,
       [ 43040],
       [166632],
       [ 74332]])

In [8]:
x1=min_max_scaler.fit_transform(df1.iloc[:, 1:2].values)
x1

array([[0.23444164],
       [0.70232469],
       [0.63330952],
       ...,
       [0.19250934],
       [0.87173555],
       [0.3644812 ]])

In [9]:
df1["monthly income"]=x1
df1.head()

,family size,monthly income,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
0,7,0.234442,3,0,1,0
1,7,0.702325,1,1,1,1
2,1,0.633310,2,1,1,1
3,6,0.710101,3,1,1,1
4,6,0.894988,3,0,0,1

In [10]:
remove=["daily solid waste generation(in kg)"]
X=df1.drop(remove,axis=1)

In [11]:
y=df1["daily solid waste generation(in kg)"]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(1339, 5) (660, 5) (1339,) (660,)

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X,y)

LinearRegression()

In [ ]:
test_data_Y=lr.predict(X_test)
test_data_Y

In [15]:
from sklearn import metrics
mse=metrics.mean_absolute_error(y_test,test_data_Y)

In [16]:
print(mse)
from math import *
rmse=sqrt(mse)
print(rmse)

0.6871163297080225
0.8289248034098283

In [17]:
df2.head()

,type_of_place,average_customer_count(daily),scale_of_business,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
0,hotel,436,2,457,0,1,1
1,market,234,1,85,0,1,1
2,shop,103,0,82,1,1,1
3,shop,201,0,185,1,1,1
4,hotel,423,1,117,1,1,0

In [32]:
df2=pd.get_dummies(df2)

In [33]:
df2.corr()

,average_customer_count(daily),scale_of_business,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable,type_of_place_hotel,type_of_place_market,type_of_place_shop
average_customer_count(daily),1.000000,0.005097,-0.001623,-0.029314,-0.018352,0.026517,0.010192,-0.013641,0.002516
scale_of_business,0.005097,1.000000,-0.027087,0.020663,0.042534,0.062000,0.005167,0.018717,-0.021885
daily solid waste generation(in kg),-0.001623,-0.027087,1.000000,-0.038011,0.035530,-0.039193,0.068151,0.005098,-0.070200
kitchen waste,-0.029314,0.020663,-0.038011,1.000000,-0.015342,-0.003592,-0.028314,0.072252,-0.038030
e-waste,-0.018352,0.042534,0.035530,-0.015342,1.000000,0.033556,0.031157,-0.075241,0.037995
non-recyclable,0.026517,0.062000,-0.039193,-0.003592,0.033556,1.000000,-0.024100,-0.056255,0.074025
type_of_place_hotel,0.010192,0.005167,0.068151,-0.028314,0.031157,-0.024100,1.000000,-0.427056,-0.576628
type_of_place_market,-0.013641,0.018717,0.005098,0.072252,-0.075241,-0.056255,-0.427056,1.000000,-0.492505
type_of_place_shop,0.002516,-0.021885,-0.070200,-0.038030,0.037995,0.074025,-0.576628,-0.492505,1.000000

In [40]:
remove=["daily solid waste generation(in kg)"]
X2=df2.drop(remove,axis=1)
X2

,average_customer_count(daily),scale_of_business,kitchen waste,e-waste,non-recyclable,type_of_place_hotel,type_of_place_market,type_of_place_shop
0,436,2,0,1,1,1,0,0
1,234,1,0,1,1,0,1,0
2,103,0,1,1,1,0,0,1
3,201,0,1,1,1,0,0,1
4,423,1,1,1,0,1,0,0
...,...,...,...,...,...,...,...,...
994,179,2,1,1,0,1,0,0
995,246,2,1,1,0,0,1,0
996,331,1,0,1,0,0,1,0
997,312,1,0,0,1,0,0,1
998,142,2,0,1,1,1,0,0

In [25]:
y2=df2["daily solid waste generation(in kg)"]

In [26]:
from sklearn.model_selection import train_test_split
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.33)
print(X2_train.shape, X2_test.shape, y2_train.shape, y2_test.shape)

(669, 6) (330, 6) (669,) (330,)

In [41]:
X2_test=pd.get_dummies(X2_test)

In [37]:
from sklearn.linear_model import LinearRegression
lr2 = LinearRegression()
lr2.fit(X2,y2)

LinearRegression()

In [ ]:
test_data_Y2=lr2.predict(X2_test)
test_data_Y2

In [19]:
df3.head()

,MEDICAL,EDUCATIONAL,OFFICE,HEAD COUNT,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
0,1,0,1,333,457,0,0,0
1,0,1,0,354,254,1,1,0
2,0,0,1,316,272,0,1,1
3,0,0,1,150,281,1,1,0
4,0,1,0,351,253,1,0,0

In [43]:
df3.corr()

,MEDICAL,EDUCATIONAL,OFFICE,HEAD COUNT,daily solid waste generation(in kg),kitchen waste,e-waste,non-recyclable
MEDICAL,1.000000,-0.333096,0.007909,0.171106,0.181633,-0.120756,-0.116230,0.256606
EDUCATIONAL,-0.333096,1.000000,-0.825854,0.002707,-0.347172,-0.066136,0.021904,-0.157992
OFFICE,0.007909,-0.825854,1.000000,0.007724,0.348038,0.040826,0.070986,0.040826
HEAD COUNT,0.171106,0.002707,0.007724,1.000000,0.064939,-0.197528,-0.283264,-0.022799
daily solid waste generation(in kg),0.181633,-0.347172,0.348038,0.064939,1.000000,-0.116827,0.007346,0.043886
kitchen waste,-0.120756,-0.066136,0.040826,-0.197528,-0.116827,1.000000,0.206456,0.025974
e-waste,-0.116230,0.021904,0.070986,-0.283264,0.007346,0.206456,1.000000,-0.035485
non-recyclable,0.256606,-0.157992,0.040826,-0.022799,0.043886,0.025974,-0.035485,1.000000

In [45]:
remove=["daily solid waste generation(in kg)"]
X3=df3.drop(remove,axis=1)

In [46]:
y3=df3["daily solid waste generation(in kg)"]

In [47]:
from sklearn.model_selection import train_test_split
X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size=0.33)
print(X3_train.shape, X3_test.shape, y3_train.shape, y3_test.shape)

(33, 7) (17, 7) (33,) (17,)

In [48]:
from sklearn.linear_model import LinearRegression
lr3 = LinearRegression()
lr3.fit(X3,y3)

LinearRegression()

In [49]:
test_data_Y3=lr3.predict(X3_test)
test_data_Y3

array([338.290765  , 332.03968937, 334.57092317, 327.85939026,
       336.22523106, 356.89608525, 325.70545475, 335.91088348,
       360.11763219, 280.67663524, 361.22674166, 325.01123176,
       367.41353386, 372.40166442, 335.27237868, 297.62260711,
       255.27370822])

In [50]:
import pickle

In [52]:
pickle.dump(lr,open("model1.pkl","wb"))
pickle.dump(lr,open("model2.pkl","wb"))
pickle.dump(lr,open("model3.pkl","wb"))